/**
  * 公用样式
 **/
body.bg {
    background-repeat: repeat-y;
    background-size: 100%;
    overflow: hidden;
}

html, body, .ht100 {
    height: 100%;
}

body {
    background: transparent;
    /*overflow: hidden;*/
}

body.bg iframe {
    border: none;
    width: 100%;
    overflow: scroll;
}
body.bg .iframe-wrap {
    padding: 0;
}

body.bg .sidebar {
    overflow-y: auto;
}
.wrap-xs {
    max-width: 400px;
    padding-top: 20px;
}
.wrap-sm {
    max-width: 600px;
    padding-top: 20px;
}
.wrap {
    max-width: 800px;
    padding-top: 20px;
}
.wrap-lg {
    max-width: 1280px;
    padding-top: 20px;
}

.th-xs {
    width: 50px;
    text-align: center;
}
.th-sm {
    width: 100px;
    text-align: center;
}
.th-normal {
    width: 200px;
    text-align: center;
}
.th-lg {
    width: 400px;
    text-align: center;
}
.th-unlimited {
    text-align: center;
}
.search-form {
    margin-bottom: 10px;
}